@import "./colors";

.mainSection {
  display: flex;
  margin-top: 2rem;
  overflow: hidden;
}

.error {
  font-size: 14px;
  color: red;
  margin-top: 1rem;
}

.line {
  position: absolute;
  top: auto;
  width: 2px;
  height: calc(100vh - 98px);
  background-color: $dark;
  border-radius: 3px;

  &::before {
    content: " ";
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: $dark;
    border-radius: 20px;
  }
}

.heroImg {
  position: absolute;
  bottom: 0;
  max-width: 994px;
  width: 100%;
  height: 488px;
  left: 50%;
  transform: translateX(-50%);

  z-index: 1;
  user-select: none;
  pointer-events: none;
}

.chooseCandidate {
  max-width: 400px;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  white-space: wrap;
  text-align: center;
  z-index: 2;
  background-color: rgba($bg-color, 0.25);
  padding: 3rem;
  border-radius: 1rem;
  backdrop-filter: blur(4px);

  h1 {
    font-size: 35px;
  }
  .inputWrapper {
    margin: 1.5rem 0;
  }
  input {
    width: 100%;
    padding: 1rem;
    border-radius: 50px;
    border: none;
    background: $light;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease;

    &:focus {
      box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
    }

    &::placeholder {
      color: rgba($dark, 0.8);
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0.8rem 3rem;
    border: none;
    background-color: $main;
    border-radius: 50px;
    transition: 0.2s ease;
    cursor: pointer;

    &:hover {
      transform: scale(0.9);
      box-shadow: 0 0 20px 0 $main;
    }
  }
}

.quizContainer {
  display: none;
  position: relative;
  z-index: 5;
  opacity: 0;
  color: #fff;

  .displayQuestionNumber {
    text-align: center;
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.8rem;
    border-bottom: 10px solid $main;
    background-color: $light-dark;
    font-weight: normal;
  }

  .quizWrapper {
    max-width: 500px;
    width: 100%;
    margin: 2rem auto 0 auto;
    h4 {
      font-weight: normal;
      word-wrap: break-word;
      text-transform: capitalize;
      margin: auto;
    }

    .quiz {
      margin: 2rem 0;
      transition: 0.3s ease;
    }
    .quizHolder {
      height: calc(100vh - 242px);
      overflow-y: auto;
      scroll-behavior: smooth;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .questionWrapper {
      display: flex;
      align-items: center;

      .number {
        margin-right: 1rem;
        width: fit-content;
        height: fit-content;
        padding: 1rem;
        background-color: $light-dark;
        border-radius: 50rem;
      }
    }

    .answerWrapper {
      margin-top: 2rem;
      .answer {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        padding: 1rem;
        background-color: $bg-color;
        color: rgba(#000, 0.8);
        border-radius: 0.3rem;
        transition: 0.3s ease;
        cursor: pointer;

        p {
          max-width: 420px;
          word-wrap: break-word;
          pointer-events: none;
        }

        .circle {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 1rem;
          height: 15px;
          width: 15px;
          border: 1px solid black;
          pointer-events: none;
          border-radius: 50%;
        }

        .innerCircle {
          opacity: 0;
          height: 7px;
          width: 7px;
          border-radius: 50%;
          background-color: #000;
          transition: 0.2s ease;
        }

        &:hover .innerCircle {
          opacity: 1;
        }

        &:hover {
          color: rgba(#000, 1);
        }
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .quizContainer {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .heroImg {
    width: 810px;
    height: 400px;
  }
}

@media screen and (max-width: 850px) {
  .line {
    &:before {
      display: none;
    }
  }
  .heroImg {
    width: 710px;
    height: 350px;
  }
}
@media screen and (max-width: 730px) {
  .heroImg {
    width: 600px;
    height: 300px;
  }
}
@media screen and (max-width: 640px) {
  .heroImg {
    width: 500px;
    height: 250px;
  }
}
@media screen and (max-width: 520px) {
  .heroImg {
    width: 400px;
    height: 200px;
  }
}
@media screen and (max-width: 420px) {
  .heroImg {
    display: none;
  }
}
