@import "./colors";

.chooseLanguageContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($dark, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  .chooseLanguage {
    margin: 1rem;
    max-width: 400px;
    width: 100%;
    border-radius: 5px;
    background-color: $bg-color;

    .center {
      display: flex;
      align-items: center;
      pointer-events: none;
    }

    .chooseLanguageHeading {
      width: 100%;
      padding: 1rem;
      background-color: $dark;
      color: $light;
      border-radius: 5px 5px 0 0;
    }

    .chooseLanguageWrapper {
      margin: 1.5rem 1rem;
    }

    .chooseLanguageInputs {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-top: 1rem;
      padding: 1rem;
      border-radius: 5px;
      background-color: $light;
      box-shadow: 0 4px 10px 0 rgba($dark, 0.15);
      transition: 0.2s ease;
      cursor: pointer;

      .tickImg {
        opacity: 0;
        transition: 0.2s ease;
        pointer-events: none;
      }

      &:first-child {
        margin-top: 0;
      }

      &:hover {
        box-shadow: 0 4px 10px 0 rgba($dark, 0.2);
      }

      &:hover .tickImg {
        opacity: 1;
      }

      p {
        margin-left: 1rem;
      }

      .img {
        position: relative;
        height: 24px;
        width: 24px;

        border-radius: 50%;
        overflow: hidden;
        padding: 1rem;
      }
    }
  }
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  height: calc(100vh - 82px);
  overflow: hidden;
}

.mainSection {
  max-width: 1200px;
  margin: auto;
  display: flex;
  margin-top: 0.5rem;
  overflow: hidden;
}

.error {
  font-size: 14px;
  color: red;
  margin-top: 1rem;
}

.line {
  position: absolute;
  top: auto;
  width: 2px;
  height: calc(100vh - 90px);
  background-color: $dark;
  border-radius: 3px;

  &::before {
    content: " ";
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: $dark;
    border-radius: 20px;
  }
}

.heroImg {
  position: absolute;
  bottom: 0;
  max-width: 994px;
  width: 100%;
  height: 488px;
  left: 50%;
  transform: translateX(-50%);

  z-index: 1;
  user-select: none;
  pointer-events: none;
}

.chooseCandidate {
  max-width: 475px;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  white-space: wrap;
  text-align: center;
  z-index: 2;
  background-color: rgba($bg-color, 0.25);
  padding: 3rem;
  border-radius: 1rem;
  backdrop-filter: blur(4px);
  text-align: center;

  .presentationText {
    font-size: 30px;
    font-weight: bold;

    h1 {
      font-size: 30px;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
        font-size: 20px;
      }
    }
  }
  .inputWrapper {
    margin: 1.5rem 0;
  }
  input {
    width: 100%;
    padding: 1rem;
    border-radius: 50px;
    border: none;
    background: $light;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease;

    &:focus {
      box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
    }

    &::placeholder {
      color: rgba($dark, 0.8);
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0.8rem 3rem;
    border: none;
    background-color: $main;
    border-radius: 50px;
    transition: 0.2s ease;
    cursor: pointer;

    &:hover {
      transform: scale(0.9);
      box-shadow: 0 0 20px 0 $main;
    }
  }
}

.quizContainer {
  display: none;
  position: relative;
  z-index: 5;
  opacity: 0;
  color: #fff;

  .displayQuestionNumber {
    text-align: center;
    width: 100%;
    padding: 1rem;
    border-radius: 0.8rem;
    border-bottom: 10px solid $main;
    background-color: $light-dark;
    font-weight: normal;

    h2 {
      font-size: 20px;
    }
  }

  .quizWrapper {
    max-width: 500px;
    width: 100%;
    margin: 1rem auto 0 auto;
    h4 {
      font-weight: normal;
      word-wrap: break-word;
      text-transform: capitalize;
      margin: auto;
    }

    .quiz {
      margin: 2rem 0;
      transition: 0.3s ease;
      pointer-events: none;
      opacity: 0.4;

      &:first-child {
        pointer-events: all;
        opacity: 1;
      }
    }
    .quizHolder {
      height: calc(100vh - 201px);
      overflow-y: auto;
      scroll-behavior: smooth;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .gotoQuestion {
      text-align: center;
      opacity: 1;
      pointer-events: all;
      position: fixed;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 1rem;
      font-size: 15px;
      background-color: $light;
      color: red;
      padding: 0.8rem 1.5rem;
      border-radius: 100px;
      cursor: pointer;
      user-select: none;
      transition: 0.2s ease;
      box-shadow: 0 0 20px 0 $light;

      &:hover {
        box-shadow: 0 0 30px 0 $light;
      }
    }
    .displayNone {
      opacity: 0;
      user-select: none;
      pointer-events: none;
    }

    .questionWrapper {
      display: flex;
      align-items: center;

      .number {
        margin-right: 1rem;
        width: fit-content;
        height: fit-content;
        padding: 1rem;
        background-color: $light-dark;
        border-radius: 50rem;
      }
    }

    .answerWrapper {
      margin-top: 2rem;
      .answer {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        padding: 1rem;
        background-color: $bg-color;
        color: rgba(#000, 0.8);
        border-radius: 0.3rem;
        transition: 0.3s ease;
        cursor: pointer;

        p {
          max-width: 420px;
          word-wrap: break-word;
          pointer-events: none;
        }

        .circle {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 1rem;
          height: 15px;
          width: 15px;
          border: 1px solid black;
          pointer-events: none;
          border-radius: 50%;
        }

        .innerCircle {
          opacity: 0;
          height: 7px;
          width: 7px;
          border-radius: 50%;
          background-color: #000;
          transition: 0.2s ease;
        }

        &:hover .innerCircle {
          opacity: 1;
        }

        &:hover {
          color: rgba(#000, 1);
        }
      }
    }
  }
}

.result {
  display: none;
  position: relative;
  z-index: 5;
  color: $light;
  overflow-y: auto;
  height: calc(100vh - 95px);

  .retakeSurveyContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }

  .retakeSurvey {
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: darken($main, 10%);
    cursor: pointer;
    border: none;
    transition: 0.2s ease;
    font-weight: bold;
    font-size: 1.1rem;

    &:hover {
      background-color: darken($main, 20%);
      transform: scale(0.98);
    }
  }

  .displayQuestionNumber {
    text-align: center;
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.8rem;
    border-bottom: 10px solid $main;
    background-color: $light-dark;
    font-weight: normal;
  }

  .resultContainer {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    h2 {
      text-align: center;
      margin-bottom: 1.5rem;
      color: $main;
      font-size: 30px;
    }
  }

  .candidateHolderTable {
    background-color: $light-dark;
    padding: 1rem;
    border-radius: 1rem;

    table {
      position: relative;
      width: 100%;
      height: fit-content;
      text-align: center;
      border-spacing: 0.3rem;
    }

    thead {
      td {
        background-color: $dark;
        width: 50px;
        font-weight: bold;
        padding: 0.5rem;
        font-size: 18px;
      }
    }

    tbody {
      td {
        background-color: lighten($light-dark, 5%);
        padding: 1rem 0.5rem;
        max-width: 20px;
        overflow-x: hidden;
        overflow-wrap: break-word;
      }
    }
  }

  .candidate {
    position: relative;
    background-color: $light-dark;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }

    h3 {
      text-transform: capitalize;
      text-align: center;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 2px solid $dark;
    }
    .percentage {
      text-align: center;

      > p {
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .percent {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    input {
      width: 100%;
      height: 100%;
      font-size: 2rem;
      padding: 2.345rem 2rem;
      border: none;
      color: #fff;
      background-color: transparent;

      &::placeholder {
        color: rgba(#fff, 0.7);
        white-space: pre-line;
        position: relative;
        top: -7px;
      }
    }

    .compareCandidateHolder {
      opacity: 1;
      overflow-y: auto;
      overflow-x: hidden;
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 10px;
      max-height: 250px;
      max-width: 400px;
      width: 100%;
      background-color: lighten($dark, 10%);
      color: #fff;
      user-select: none;
      transition: 0.3s ease;
      z-index: 2;

      h3 {
        padding: 1rem;
        margin-bottom: 0;
      }

      .returnedSearchedValue {
        padding: 1rem;
        cursor: pointer;
        border-bottom: 2px solid lighten($dark, 15%);
        transition: 0.2s ease;

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          background-color: lighten($dark, 15%);
        }

        p {
          text-transform: capitalize;
        }
      }
    }

    .compareCandidateHolderTransition {
      opacity: 0;
    }
  }
}

.disclaimerContainer {
  display: none;
  max-width: 1200px;
  width: 100%;
  opacity: 0;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.disclaimer {
  background-color: rgba($bg-color, 0.85);
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 1rem;

  span {
    font-size: 20px;
    color: $dark;
    cursor: pointer;
    user-select: none;
  }
  p {
    color: $dark;
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h3 {
    margin-bottom: 0.5rem;
    color: $dark;
  }
}

@media screen and (max-height: 768px) {
  .heroImg {
    width: 450px;
    height: 240px;
  }

  .chooseCandidate {
    .presentationText {
      font-size: 25px;
      font-weight: bold;

      h1 {
        font-size: 20px;
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .quizContainer {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .result {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .disclaimerContainer {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .heroImg {
    width: 810px;
    height: 400px;
  }
}

@media screen and (max-width: 850px) {
  .line {
    &:before {
      display: none;
    }
  }
  .heroImg {
    width: 710px;
    height: 350px;
  }
}
@media screen and (max-width: 730px) {
  .heroImg {
    width: 600px;
    height: 300px;
  }

  .result {
    .resultContainer {
      grid-template-columns: 1fr;
    }

    .candidate {
      input {
        font-size: 1.2rem;
      }
    }
  }
}
@media screen and (max-width: 640px) {
  .heroImg {
    width: 500px;
    height: 250px;
  }
}
@media screen and (max-width: 520px) {
  .heroImg {
    width: 400px;
    height: 200px;
  }
}
@media screen and (max-width: 420px) {
  .heroImg {
    width: 300px;
    height: 150px;
  }
}
@media screen and (max-width: 350px) {
  .heroImg {
    width: 200px;
    height: 100px;
  }
}
@media screen and (max-width: 220px) {
  .heroImg {
    display: none;
  }
}
