.chooseLanguageContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(7, 7, 15, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.chooseLanguageContainer .chooseLanguage {
  margin: 1rem;
  max-width: 400px;
  width: 100%;
  border-radius: 5px;
  background-color: #f8f8f8;
}
.chooseLanguageContainer .chooseLanguage .center {
  display: flex;
  align-items: center;
  pointer-events: none;
}
.chooseLanguageContainer .chooseLanguage .chooseLanguageHeading {
  width: 100%;
  padding: 1rem;
  background-color: #07070f;
  color: #fff;
  border-radius: 5px 5px 0 0;
}
.chooseLanguageContainer .chooseLanguage .chooseLanguageWrapper {
  margin: 1.5rem 1rem;
}
.chooseLanguageContainer .chooseLanguage .chooseLanguageInputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 10px 0 rgba(7, 7, 15, 0.15);
  transition: 0.2s ease;
  cursor: pointer;
}
.chooseLanguageContainer .chooseLanguage .chooseLanguageInputs .tickImg {
  opacity: 0;
  transition: 0.2s ease;
  pointer-events: none;
}
.chooseLanguageContainer .chooseLanguage .chooseLanguageInputs:first-child {
  margin-top: 0;
}
.chooseLanguageContainer .chooseLanguage .chooseLanguageInputs:hover {
  box-shadow: 0 4px 10px 0 rgba(7, 7, 15, 0.2);
}
.chooseLanguageContainer .chooseLanguage .chooseLanguageInputs:hover .tickImg {
  opacity: 1;
}
.chooseLanguageContainer .chooseLanguage .chooseLanguageInputs p {
  margin-left: 1rem;
}
.chooseLanguageContainer .chooseLanguage .chooseLanguageInputs .img {
  position: relative;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  overflow: hidden;
  padding: 1rem;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  height: calc(100vh - 82px);
  overflow: hidden;
}

.mainSection {
  max-width: 1200px;
  margin: auto;
  display: flex;
  margin-top: 2rem;
  overflow: hidden;
}

.error {
  font-size: 14px;
  color: red;
  margin-top: 1rem;
}

.line {
  position: absolute;
  top: auto;
  width: 2px;
  height: calc(100vh - 114px);
  background-color: #07070f;
  border-radius: 3px;
}
.line::before {
  content: " ";
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #07070f;
  border-radius: 20px;
}

.heroImg {
  position: absolute;
  bottom: 0;
  max-width: 994px;
  width: 100%;
  height: 488px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.chooseCandidate {
  max-width: 475px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  white-space: wrap;
  text-align: center;
  z-index: 2;
  background-color: rgba(248, 248, 248, 0.25);
  padding: 3rem;
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  text-align: center;
}
.chooseCandidate h1 {
  font-size: 35px;
}
.chooseCandidate .inputWrapper {
  margin: 1.5rem 0;
}
.chooseCandidate input {
  width: 100%;
  padding: 1rem;
  border-radius: 50px;
  border: none;
  background: #fff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease;
}
.chooseCandidate input:focus {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
}
.chooseCandidate input::-moz-placeholder {
  color: rgba(7, 7, 15, 0.8);
}
.chooseCandidate input:-ms-input-placeholder {
  color: rgba(7, 7, 15, 0.8);
}
.chooseCandidate input::placeholder {
  color: rgba(7, 7, 15, 0.8);
}
.chooseCandidate button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0.8rem 3rem;
  border: none;
  background-color: #f37168;
  border-radius: 50px;
  transition: 0.2s ease;
  cursor: pointer;
}
.chooseCandidate button:hover {
  transform: scale(0.9);
  box-shadow: 0 0 20px 0 #f37168;
}

.quizContainer {
  display: none;
  position: relative;
  z-index: 5;
  opacity: 0;
  color: #fff;
}
.quizContainer .displayQuestionNumber {
  text-align: center;
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.8rem;
  border-bottom: 10px solid #f37168;
  background-color: #0e0e1e;
  font-weight: normal;
}
.quizContainer .quizWrapper {
  max-width: 500px;
  width: 100%;
  margin: 2rem auto 0 auto;
}
.quizContainer .quizWrapper h4 {
  font-weight: normal;
  word-wrap: break-word;
  text-transform: capitalize;
  margin: auto;
}
.quizContainer .quizWrapper .quiz {
  margin: 2rem 0;
  transition: 0.3s ease;
}
.quizContainer .quizWrapper .quizHolder {
  height: calc(100vh - 242px);
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.quizContainer .quizWrapper .quizHolder::-webkit-scrollbar {
  display: none;
}
.quizContainer .quizWrapper .questionWrapper {
  display: flex;
  align-items: center;
}
.quizContainer .quizWrapper .questionWrapper .number {
  margin-right: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  background-color: #0e0e1e;
  border-radius: 50rem;
}
.quizContainer .quizWrapper .answerWrapper {
  margin-top: 2rem;
}
.quizContainer .quizWrapper .answerWrapper .answer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f8f8f8;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.3rem;
  transition: 0.3s ease;
  cursor: pointer;
}
.quizContainer .quizWrapper .answerWrapper .answer p {
  max-width: 420px;
  word-wrap: break-word;
  pointer-events: none;
}
.quizContainer .quizWrapper .answerWrapper .answer .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  height: 15px;
  width: 15px;
  border: 1px solid black;
  pointer-events: none;
  border-radius: 50%;
}
.quizContainer .quizWrapper .answerWrapper .answer .innerCircle {
  opacity: 0;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #000;
  transition: 0.2s ease;
}
.quizContainer .quizWrapper .answerWrapper .answer:hover .innerCircle {
  opacity: 1;
}
.quizContainer .quizWrapper .answerWrapper .answer:hover {
  color: black;
}

.result {
  display: none;
  position: relative;
  z-index: 5;
  color: #fff;
  overflow-y: auto;
  height: calc(100vh - 150px);
}
.result .retakeSurveyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.result .retakeSurvey {
  padding: 1rem 2rem;
  border-radius: 5px;
  background-color: #ef4539;
  cursor: pointer;
  border: none;
  transition: 0.2s ease;
  font-weight: bold;
  font-size: 1.1rem;
}
.result .retakeSurvey:hover {
  background-color: #e32012;
  transform: scale(0.98);
}
.result .displayQuestionNumber {
  text-align: center;
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.8rem;
  border-bottom: 10px solid #f37168;
  background-color: #0e0e1e;
  font-weight: normal;
}
.result .resultContainer {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.result .resultContainer h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #f37168;
  font-size: 30px;
}
.result .candidate {
  position: relative;
  background-color: #0e0e1e;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.result .candidate:last-child {
  margin-bottom: 0;
}
.result .candidate h3 {
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #07070f;
}
.result .candidate .percentage {
  text-align: center;
}
.result .candidate .percentage > p {
  margin-bottom: 1rem;
}
.result .candidate .percentage > p:last-child {
  margin-bottom: 0;
}
.result .candidate .percent {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.result .candidate input {
  width: 100%;
  height: 100%;
  font-size: 3rem;
  padding: 2.345rem 2rem;
  border: none;
  color: #fff;
  background-color: transparent;
}
.result .candidate input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.result .candidate input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.result .candidate input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.result .candidate .compareCandidateHolder {
  opacity: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  max-height: 250px;
  max-width: 400px;
  width: 100%;
  background-color: #171732;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.3s ease;
  z-index: 2;
}
.result .candidate .compareCandidateHolder h3 {
  padding: 1rem;
  margin-bottom: 0;
}
.result .candidate .compareCandidateHolder .returnedSearchedValue {
  padding: 1rem;
  cursor: pointer;
  border-bottom: 2px solid #1f1f43;
  transition: 0.2s ease;
}
.result .candidate .compareCandidateHolder .returnedSearchedValue:last-child {
  border-bottom: none;
}
.result .candidate .compareCandidateHolder .returnedSearchedValue:hover {
  background-color: #1f1f43;
}
.result .candidate .compareCandidateHolder .returnedSearchedValue p {
  text-transform: capitalize;
}
.result .candidate .compareCandidateHolderTransition {
  opacity: 0;
}

.disclaimerContainer {
  display: none;
  max-width: 1200px;
  width: 100%;
  opacity: 0;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.disclaimer {
  background-color: rgba(248, 248, 248, 0.85);
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 1rem;
}
.disclaimer span {
  font-size: 20px;
  color: #07070f;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.disclaimer p {
  color: #07070f;
}
.disclaimer .center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.disclaimer h3 {
  margin-bottom: 0.5rem;
  color: #07070f;
}

@media screen and (max-width: 1250px) {
  .quizContainer {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .result {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .disclaimerContainer {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 1000px) {
  .heroImg {
    width: 810px;
    height: 400px;
  }
}
@media screen and (max-width: 850px) {
  .line:before {
    display: none;
  }
  .heroImg {
    width: 710px;
    height: 350px;
  }
}
@media screen and (max-width: 730px) {
  .heroImg {
    width: 600px;
    height: 300px;
  }
  .result .resultContainer {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 640px) {
  .heroImg {
    width: 500px;
    height: 250px;
  }
}
@media screen and (max-width: 520px) {
  .heroImg {
    width: 400px;
    height: 200px;
  }
}
@media screen and (max-width: 420px) {
  .heroImg {
    width: 300px;
    height: 150px;
  }
}
@media screen and (max-width: 350px) {
  .heroImg {
    width: 200px;
    height: 100px;
  }
}
@media screen and (max-width: 220px) {
  .heroImg {
    display: none;
  }
}