.header {
  max-width: 1200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto;
  z-index: 10;
}

.title {
  font-size: 18px;
  font-family: "Italianno", cursive;
}

.language {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.11));
  background-color: #fff;
  border-radius: 550px;
  font-size: 14px;
  overflow: hidden;
  height: 35px;
}
.language p {
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s ease;
  background-color: #fff;
}
.language p.active {
  background-color: #f37168;
}

.arrow {
  width: 150px;
  height: 80px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  margin-top: 1rem;
  position: absolute;
  rotate: -10deg;
  top: 100%;
  right: 15px;
}

@media screen and (max-width: 1250px) {
  .header {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media screen and (max-height: 768px) {
  .title {
    font-size: 14px;
  }
}
@media screen and (max-width: 730px) {
  .arrow {
    width: 100px;
    height: 50px;
  }
}