.loginWrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  background-color: #fff;
  max-width: 400px;
  width: 100%;
  padding: 2rem;
  box-shadow: 0 0 20px 0 rgba(7, 7, 15, 0.1);
}
.loginContainer h2 {
  text-align: center;
}
.loginContainer button {
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: #ef4539;
  font-weight: bold;
  color: #fff;
  margin-top: 1rem;
  transition: 0.2s ease;
  cursor: pointer;
}
.loginContainer button:hover, .loginContainer button:focus {
  background-color: #e32012;
}
.loginContainer .input {
  margin-top: 1rem;
}
.loginContainer .input p {
  margin-bottom: 0.5rem;
}
.loginContainer .input input {
  border: none;
  width: 100%;
  border-bottom: 1px solid #07070f;
  padding: 1rem;
  font-size: 0.9rem;
  background-color: #f8f8f8;
  transition: 0.2s ease;
}
.loginContainer .input input:focus {
  border-bottom: 1px solid #f37168;
}

.success {
  font-size: 0.9rem;
  color: lightgreen;
  margin-top: 0.5rem;
}

.error {
  font-size: 0.9rem;
  color: red;
  margin-top: 0.5rem;
}

.marginBottom05 {
  margin-bottom: 0.5rem;
}

.marginBottom {
  margin-bottom: 1rem;
}

.sideNav {
  position: -webkit-sticky;
  position: sticky;
  max-width: 241px;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  background-color: #07070f;
  color: #fff;
}
.sideNav h2 {
  border-bottom: 1px solid #fff;
  margin: 0 1rem;
  margin-bottom: 1rem;
  padding: 1.5rem 0;
  text-align: center;
}
.sideNav .navItem {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  cursor: pointer;
  transition: 0.2s ease;
  background-color: #07070f;
}
.sideNav .navItem.navItemActive {
  background-color: #f8f8f8;
  color: #07070f;
}
.sideNav .navItem:hover {
  background-color: #171732;
}
.sideNav .navItem:hover.navItemActive {
  background-color: #f8f8f8;
  color: #07070f;
}
.sideNav .navItem p {
  margin-left: 1rem;
}

.mobHeading {
  display: none;
  text-transform: capitalize;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 1rem;
  text-align: center;
  background-color: #07070f;
  color: #fff;
  font-size: 20px;
}

.hamburgerContainer {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  bottom: 1rem;
  right: 1rem;
  border-radius: 200px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0 rgba(7, 7, 15, 0.5), 0px 0px 19px 1px rgba(0, 0, 0, 0.1) inset;
}

.panelContainer {
  display: flex;
}
.panelContainer .content {
  width: 100%;
  margin: 6rem 3rem;
}
.panelContainer .infoContainer {
  display: flex;
}
.panelContainer .info {
  width: 300px;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  padding: 2rem;
  overflow: auto;
  margin-right: 2rem;
}
.panelContainer .info:last-child {
  margin-right: 0;
}
.panelContainer .info .activeUsers {
  display: flex;
  align-items: center;
}
.panelContainer .info .active {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.panelContainer .info .active .borderActive {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 2000px;
  border: 2px solid #0de200;
  -webkit-animation: animateActive 1s ease-out infinite;
          animation: animateActive 1s ease-out infinite;
}
.panelContainer .info .active .innerActive {
  width: 15px;
  height: 15px;
  border-radius: 2000px;
  background-color: #0de200;
}
.panelContainer .info h3 {
  margin-bottom: 1rem;
}
.panelContainer .info p {
  margin-left: 2rem;
  text-align: center;
  font-size: 3rem;
}
.panelContainer .changeDataContainer {
  display: flex;
  color: #fff;
  background-color: #07070f;
  width: 100%;
  margin-top: 2rem;
  padding: 2rem;
}
.panelContainer .changeDataContainer .inputContainer {
  display: flex;
  align-items: center;
}
.panelContainer .changeDataContainer .inputContainer p {
  margin-right: 1rem;
}
.panelContainer .changeDataContainer .data {
  max-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}
.panelContainer .changeDataContainer .data:first-child {
  margin-left: 0;
}
.panelContainer .changeDataContainer .data > p {
  width: 100%;
  background-color: #171732;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}
.panelContainer .changeDataContainer .data input {
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  font-size: 0.9rem;
}
.panelContainer .changeDataContainer .data button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: #ef4539;
  color: #fff;
  font-weight: bold;
  transition: 0.2s ease;
  cursor: pointer;
}
.panelContainer .changeDataContainer .data button:hover {
  background-color: #e32012;
}
.panelContainer .changeDataContainer .data .demo {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  background-color: #171732;
}
.panelContainer .changeDataContainer .data .demo > p {
  margin-top: 1rem;
}
.panelContainer .changeDataContainer .data .demo > p:first-child {
  margin-top: 0;
}
.panelContainer .changeDataContainer .data .demo .demoPart {
  background-color: #f8f8f8;
  padding: 2rem 1rem;
  color: #000;
  margin-top: 1rem;
}
.panelContainer .changeDataContainer .data .demo .demoPart h3 {
  text-align: center;
}
.panelContainer .changeDataContainer .data .demo .demoPart input {
  width: 100%;
  padding: 1rem;
  border-radius: 50px;
  border: none;
  background: #fff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  pointer-events: none;
}
.panelContainer .changeDataContainer .data .demo .demoPart input::-moz-placeholder {
  color: rgba(7, 7, 15, 0.8);
}
.panelContainer .changeDataContainer .data .demo .demoPart input:-ms-input-placeholder {
  color: rgba(7, 7, 15, 0.8);
}
.panelContainer .changeDataContainer .data .demo .demoPart input::placeholder {
  color: rgba(7, 7, 15, 0.8);
}
.panelContainer .changeDataContainer .data .demo .demoPart button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0.8rem 3rem;
  border: none;
  background-color: #f37168;
  border-radius: 50px;
  transition: 0.2s ease;
  cursor: pointer;
}
.panelContainer .changeDataContainer .data .demo .demoPart button:hover {
  transform: scale(0.9);
  box-shadow: 0 0 20px 0 #f37168;
}
.panelContainer .changeDataContainer .data .hint {
  color: #000;
  background-color: #f8f8f8;
  width: 100%;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
}
.panelContainer .changeDataContainer .data .hint p {
  font-size: 25px;
  font-weight: normal;
  font-family: "Italianno", cursive;
  word-break: break-all;
}

.addSurvey {
  width: 100%;
  background-color: #07070f;
  padding: 2rem;
  color: #fff;
}
.addSurvey .addSurveyContainer {
  display: flex;
}
.addSurvey h1 {
  color: #f37168;
}
.addSurvey .surveyForm {
  max-width: 350px;
  margin: 1rem 0;
}
.addSurvey .surveyForm h3 {
  width: 100%;
  background-color: #171732;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  margin: 2rem 0;
}
.addSurvey .surveyForm input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  font-size: 0.9rem;
}
.addSurvey .surveyForm .inputContainer {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}
.addSurvey .surveyForm .inputContainer p {
  margin-right: 1rem;
}
.addSurvey .surveyForm .answer p {
  margin-bottom: 1rem;
}
.addSurvey .surveyForm textarea {
  margin-bottom: 1rem;
  border: none;
  resize: none;
  width: 100%;
  height: 200px;
  padding: 1rem;
  font-size: 0.9rem;
  border-radius: 5px;
}
.addSurvey .surveyForm button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: #ef4539;
  color: #fff;
  font-weight: bold;
  transition: 0.2s ease;
  cursor: pointer;
}
.addSurvey .surveyForm button:hover {
  background-color: #e32012;
}
.addSurvey .demoContainer {
  margin-left: 5rem;
  max-width: 500px;
  width: 100%;
}
.addSurvey .demoContainer h3 {
  width: 100%;
  background-color: #171732;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  margin: 3rem 0 2rem 0;
}
.addSurvey .demoContainer .demo {
  width: 100%;
  word-break: break-all;
}
.addSurvey .demoContainer .demo .quiz {
  margin: 2rem 0;
  transition: 0.3s ease;
}
.addSurvey .demoContainer .demo .quizHolder {
  height: calc(100vh - 242px);
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.addSurvey .demoContainer .demo .quizHolder::-webkit-scrollbar {
  display: none;
}
.addSurvey .demoContainer .demo .questionWrapper {
  display: flex;
  align-items: center;
}
.addSurvey .demoContainer .demo .questionWrapper .number {
  margin-right: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1rem;
  background-color: #0e0e1e;
  border-radius: 50rem;
}
.addSurvey .demoContainer .demo .answerWrapper {
  margin-top: 2rem;
}
.addSurvey .demoContainer .demo .answerWrapper .answer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f8f8f8;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.3rem;
  transition: 0.3s ease;
  cursor: pointer;
}
.addSurvey .demoContainer .demo .answerWrapper .answer p {
  max-width: 420px;
  word-wrap: break-word;
  pointer-events: none;
}
.addSurvey .demoContainer .demo .answerWrapper .answer .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  height: 15px;
  width: 15px;
  border: 1px solid black;
  pointer-events: none;
  border-radius: 50%;
}
.addSurvey .demoContainer .demo .answerWrapper .answer .innerCircle {
  opacity: 0;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #000;
  transition: 0.2s ease;
}
.addSurvey .demoContainer .demo .answerWrapper .answer:hover .innerCircle {
  opacity: 1;
}
.addSurvey .demoContainer .demo .answerWrapper .answer:hover {
  color: black;
}

.buttonWrapperForAnswer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin: 1rem 0;
}

.removeAnswers {
  max-width: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #ef4539;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s ease;
}
.removeAnswers:hover {
  background-color: #e32012;
}

.addAnswers {
  max-width: 75%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #ef4539;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease;
  text-align: center;
  padding: 0.5rem;
}
.addAnswers span {
  font-weight: bold;
  font-size: 1.71rem;
}
.addAnswers:hover {
  background-color: #e32012;
}

.tableContainer {
  margin-top: 2rem;
  max-width: calc(100vw - 341px);
  width: 100%;
  overflow-x: auto;
}
.tableContainer h1 {
  margin-bottom: 1rem;
}
.tableContainer table {
  min-width: 500px;
  width: 100%;
  background-color: #f8f8f8;
}
.tableContainer table thead th {
  background-color: #fff;
  padding: 0.8rem;
  background: #07070f;
  color: #fff;
  min-width: 100px;
  max-width: 200px;
}
.tableContainer table thead th:first-child {
  text-align: center;
  min-width: 100px;
  width: 100px;
}
.tableContainer table thead th:last-child {
  min-width: 100px;
  width: 100px;
}
.tableContainer table tbody td {
  background-color: #fff;
  padding: 1rem;
  min-width: 100px;
  max-width: 200px;
}
.tableContainer table tbody td:first-child {
  text-align: center;
  min-width: 100px;
  width: 100px;
}
.tableContainer table tbody td:last-child {
  min-width: 100px;
  width: 100px;
}
.tableContainer table .actionButton {
  min-width: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tableContainer table .edit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #07070f;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tableContainer table .edit:hover {
  box-shadow: 0 0 20px 0 rgba(7, 7, 15, 0.8);
}
.tableContainer table .remove {
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  align-items: center;
  justify-content: center;
  background-color: red;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 50%;
  transition: 0.2s ease;
  cursor: pointer;
}
.tableContainer table .remove:hover {
  box-shadow: 0 0 20px 0 rgba(255, 0, 0, 0.8);
}
.tableContainer .removePopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(7, 7, 15, 0.8);
  display: flex;
  justify-content: center;
  display: none;
}
.tableContainer .removePopup .hide {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}
.tableContainer .removePopup .popup {
  margin: 0 1rem;
  max-width: 500px;
  width: 100%;
  margin-top: 5rem;
  position: relative;
  z-index: 12;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 500px;
  overflow-y: auto;
}
.tableContainer .removePopup .popup .popupContent {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  padding: 1rem;
}
.tableContainer .removePopup .popup .popupContent .inputs > p {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
}
.tableContainer .removePopup .popup .popupContent .inputs .actualInputs {
  background-color: #f2f2f2;
  padding: 1rem;
  margin-bottom: 2rem;
}
.tableContainer .removePopup .popup .popupContent .inputs .actualInputs .inputHolder {
  margin-bottom: 0.5rem;
}
.tableContainer .removePopup .popup .popupContent .inputs .actualInputs .inputHolder:last-child {
  margin-bottom: 0;
}
.tableContainer .removePopup .popup .popupContent .inputs .actualInputs .inputHolder input {
  padding: 0.5rem;
  width: 50px;
}
.tableContainer .removePopup .popup .popupContent .inputs .actualInputs .inputHolder h4 {
  margin-bottom: 1rem;
}
.tableContainer .removePopup .popup .popupContent .inputs .actualInputs .inputHolder p {
  margin-bottom: 0.5rem;
}
.tableContainer .removePopup .popup .popupContent .inputs textarea {
  padding: 0.5rem;
  font-size: 0.9rem;
  width: 100%;
  resize: none;
  height: 80px;
}
.tableContainer .removePopup .popup .popupContent .buttons {
  margin-top: 1rem;
}
.tableContainer .removePopup .popup .popupContent .buttons button {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.tableContainer .removePopup .popup .popupContent .buttons button:last-child {
  background-color: transparent;
  border: 1px solid black;
  transition: 0.2s ease;
}
.tableContainer .removePopup .popup .popupContent .buttons button:last-child:hover {
  background-color: #fafafa;
}
.tableContainer .removePopup .popup .popupContent .buttons button:first-child {
  margin-right: 1rem;
  background-color: #ef4539;
  font-weight: bold;
  transition: 0.2s ease;
  color: #fff;
  border: 1px solid #ef4539;
}
.tableContainer .removePopup .popup .popupContent .buttons button:first-child:hover {
  background-color: #e32012;
  border: 1px solid #e32012;
}
.tableContainer .removePopup .popup .popupHeader {
  border-radius: 5px 5px 0 0;
  padding: 1rem;
  background-color: #171732;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tableContainer .removePopup .popup .popupHeader .img {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.candidatesContainer {
  max-width: calc(100vw - 341px);
  width: 100%;
  overflow-x: auto;
}
.candidatesContainer h1 {
  margin-bottom: 1rem;
}
.candidatesContainer table {
  min-width: 500px;
  width: 100%;
  background-color: #f8f8f8;
}
.candidatesContainer table thead th {
  background-color: #fff;
  padding: 0.8rem;
  background: #07070f;
  color: #fff;
  min-width: 100px;
  max-width: 200px;
}
.candidatesContainer table thead th:first-child {
  text-align: center;
  min-width: 100px;
  width: 100px;
}
.candidatesContainer table thead th:last-child {
  min-width: 200px;
  width: 200px;
}
.candidatesContainer table tbody td {
  background-color: #fff;
  padding: 1rem;
  min-width: 100px;
  max-width: 200px;
  text-align: center;
}
.candidatesContainer table tbody td:first-child {
  min-width: 100px;
  width: 100px;
}
.candidatesContainer table tbody td:last-child {
  min-width: 200px;
  width: 200px;
}
.candidatesContainer table .actionButton {
  min-width: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.candidatesContainer table .edit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #07070f;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.candidatesContainer table .edit:hover {
  box-shadow: 0 0 20px 0 rgba(7, 7, 15, 0.8);
}
.candidatesContainer table .remove {
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  align-items: center;
  justify-content: center;
  background-color: red;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 50%;
  transition: 0.2s ease;
  cursor: pointer;
}
.candidatesContainer table .remove:hover {
  box-shadow: 0 0 20px 0 rgba(255, 0, 0, 0.8);
}
.candidatesContainer .removePopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(7, 7, 15, 0.8);
  display: flex;
  justify-content: center;
  display: none;
}
.candidatesContainer .removePopup .hide {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}
.candidatesContainer .removePopup .popup {
  margin: 0 1rem;
  max-width: 500px;
  width: 100%;
  margin-top: 5rem;
  position: relative;
  z-index: 12;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.candidatesContainer .removePopup .popup .popupContent {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  padding: 1rem;
}
.candidatesContainer .removePopup .popup .popupContent .buttons {
  margin-top: 1rem;
}
.candidatesContainer .removePopup .popup .popupContent .buttons button {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.candidatesContainer .removePopup .popup .popupContent .buttons button:first-child {
  margin-right: 1rem;
  background-color: #ef4539;
  font-weight: bold;
  transition: 0.2s ease;
  color: #fff;
  border: 1px solid #ef4539;
}
.candidatesContainer .removePopup .popup .popupContent .buttons button:first-child:hover {
  background-color: #e32012;
  border: 1px solid #e32012;
}
.candidatesContainer .removePopup .popup .popupContent .buttons button:last-child {
  background-color: transparent;
  border: 1px solid black;
  transition: 0.2s ease;
}
.candidatesContainer .removePopup .popup .popupContent .buttons button:last-child:hover {
  background-color: #fafafa;
}
.candidatesContainer .removePopup .popup .popupHeader {
  border-radius: 5px 5px 0 0;
  padding: 1rem;
  background-color: #171732;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.candidatesContainer .removePopup .popup .popupHeader .img {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@-webkit-keyframes animateActive {
  0% {
    opacity: 1;
    padding: 0;
  }
  100% {
    opacity: 0;
    padding: 1.5rem;
  }
}

@keyframes animateActive {
  0% {
    opacity: 1;
    padding: 0;
  }
  100% {
    opacity: 0;
    padding: 1.5rem;
  }
}
@media screen and (max-width: 1320px) {
  .addSurvey .demoContainer {
    margin-left: 2rem;
    max-width: 400px;
  }
}
@media screen and (max-width: 1150px) {
  .addSurvey .addSurveyContainer {
    display: block;
  }
  .addSurvey .demoContainer {
    margin-left: 0;
    max-width: 350px;
  }
}
@media screen and (max-width: 1190px) {
  .panelContainer .changeDataContainer {
    display: block;
  }
  .panelContainer .changeDataContainer .data {
    margin-left: 0rem;
    margin-top: 2rem;
  }
  .panelContainer .changeDataContainer .data:first-child {
    margin-top: 0;
  }
  .panelContainer .info {
    width: 200px;
    border-radius: 1rem;
    padding: 1rem;
    margin-right: 2rem;
  }
  .panelContainer .info p {
    margin-left: 1rem;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .tableContainer,
.candidatesContainer {
    max-width: 100%;
  }
  .tableContainer h1,
.candidatesContainer h1 {
    margin: 1rem;
  }
  .mobHeading {
    display: block;
  }
  .addSurvey {
    text-align: center;
  }
  .addSurvey .surveyForm {
    margin: 1rem auto;
  }
  .addSurvey .demoContainer {
    margin: auto;
  }
  .sideNav {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100vw;
    width: 0;
    z-index: 10;
    opacity: 0;
  }
  .hamburgerContainer {
    z-index: 11;
    display: flex;
  }
  .panelContainer .content {
    margin: 7rem 1rem 1rem;
  }
  .panelContainer .changeDataContainer .data {
    margin: auto;
  }
  .panelContainer .changeDataContainer .data:first-child {
    margin: 0 auto 2rem auto;
  }
}
@media screen and (max-width: 535px) {
  .panelContainer .content {
    margin: 7rem 0 0;
  }
  .tableContainer h1 {
    margin: 0 1rem 1rem 1rem;
  }
  .panelContainer .info {
    margin-left: 1rem;
  }
  .panelContainer .info:first-child {
    margin-top: 0;
  }
}
@media screen and (max-width: 500px) {
  .loginWrapper {
    padding: 0 1rem;
  }
  .loginContainer {
    padding: 2rem 1.5rem;
  }
  .panelContainer .changeDataContainer .inputContainer {
    display: block;
    margin-top: 1rem;
  }
  .panelContainer .infoContainer {
    display: block;
  }
  .panelContainer .info {
    margin-top: 2rem;
    margin-right: 0;
  }
  .panelContainer .info:first-child {
    margin-top: 0;
  }
}
@media screen and (max-width: 300px) {
  .panelContainer .changeDataContainer {
    padding: 2rem 1rem;
  }
  .panelContainer .content {
    margin-bottom: 0;
  }
}