@import "./colors";

.loginWrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  background-color: $light;
  max-width: 400px;
  width: 100%;
  padding: 2rem;
  box-shadow: 0 0 20px 0 rgba($dark, 0.1);

  h2 {
    text-align: center;
  }

  button {
    padding: 0.5rem 1.5rem;
    border: none;
    background-color: darken($main, 10%);
    font-weight: bold;
    color: $light;
    margin-top: 1rem;
    transition: 0.2s ease;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: darken($main, 20%);
    }
  }

  .input {
    margin-top: 1rem;

    p {
      margin-bottom: 0.5rem;
    }

    input {
      border: none;
      width: 100%;
      border-bottom: 1px solid $dark;
      padding: 1rem;
      font-size: 0.9rem;
      background-color: $bg-color;
      transition: 0.2s ease;

      &:focus {
        border-bottom: 1px solid $main;
      }
    }
  }
}

.success {
  font-size: 0.9rem;
  color: lightgreen;
  margin-top: 0.5rem;
}

.error {
  font-size: 0.9rem;
  color: red;
  margin-top: 0.5rem;
}

.marginBottom05 {
  margin-bottom: 0.5rem;
}

.marginBottom {
  margin-bottom: 1rem;
}

//sidenav
.sideNav {
  position: sticky;
  max-width: 241px;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  background-color: $dark;
  color: $light;

  .logoutWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logout {
    border: none;
    background: darken($main, 10%);
    padding: 1rem 2rem;
    margin: auto;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 1rem;
    transition: 0.2s ease;
    cursor: pointer;

    &:hover {
      background: darken($main, 20%);
    }
  }

  h2 {
    border-bottom: 1px solid #fff;
    margin: 0 1rem;
    margin-bottom: 1rem;
    padding: 1.5rem 0;
    text-align: center;
  }
  .navItem {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    cursor: pointer;
    transition: 0.2s ease;
    background-color: $dark;

    &.navItemActive {
      background-color: $bg-color;
      color: $dark;
    }

    &:hover {
      background-color: lighten($dark, 10%);

      &.navItemActive {
        background-color: $bg-color;
        color: $dark;
      }
    }

    p {
      margin-left: 1rem;
    }
  }
}

.mobHeading {
  display: none;
  text-transform: capitalize;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 1rem;
  text-align: center;
  background-color: $dark;
  color: $light;
  font-size: 20px;
}

//hamburger
.hamburgerContainer {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  bottom: 1rem;
  right: 1rem;
  border-radius: 200px;
  background-color: $light;
  box-shadow: 0px 0px 20px 0 rgba($dark, 0.5),
    0px 0px 19px 1px rgba(0, 0, 0, 0.1) inset;
}

//panel
.panelContainer {
  display: flex;

  .content {
    width: 100%;
    margin: 6rem 3rem;
  }

  .infoContainer {
    display: flex;
  }

  .info {
    width: 300px;
    background-color: $light;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    padding: 2rem;
    overflow: auto;
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }

    .activeUsers {
      display: flex;
      align-items: center;
    }

    .active {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;

      .borderActive {
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 2000px;
        border: 2px solid #0de200;
        animation: animateActive 1s ease-out infinite;
      }

      .innerActive {
        width: 15px;
        height: 15px;
        border-radius: 2000px;
        background-color: #0de200;
      }
    }

    h3 {
      margin-bottom: 1rem;
    }

    p {
      margin-left: 2rem;
      text-align: center;
      font-size: 3rem;
    }
  }

  .changeDataContainer {
    display: flex;
    color: $light;
    background-color: $dark;
    width: 100%;
    margin-top: 2rem;
    padding: 2rem;

    .inputContainer {
      display: flex;
      align-items: center;
      p {
        margin-right: 1rem;
      }
    }

    .data {
      max-width: 350px;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-left: 5rem;

      &:first-child {
        margin-left: 0;
      }

      > p {
        width: 100%;
        background-color: lighten($dark, 10%);
        font-size: 1.5rem;
        padding: 1rem;
        text-align: center;
        font-weight: bold;
      }

      input {
        width: 100%;
        margin: 1rem 0;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        border: none;
        font-size: 0.9rem;
      }

      button {
        width: fit-content;
        padding: 0.5rem 1.5rem;
        border: none;
        border-radius: 5px;
        background-color: darken($main, 10%);
        color: $light;
        font-weight: bold;
        transition: 0.2s ease;
        cursor: pointer;

        &:hover {
          background-color: darken($main, 20%);
        }
      }
      .demo {
        width: 100%;
        padding: 1rem;
        margin: 1rem 0;
        background-color: lighten($dark, 10%);

        > p {
          margin-top: 1rem;

          &:first-child {
            margin-top: 0;
          }
        }

        .demoPart {
          background-color: $bg-color;
          padding: 2rem 1rem;
          color: #000;
          margin-top: 1rem;

          h3 {
            text-align: center;
          }

          input {
            width: 100%;
            padding: 1rem;
            border-radius: 50px;
            border: none;
            background: $light;
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
            pointer-events: none;

            &::placeholder {
              color: rgba($dark, 0.8);
            }
          }
          button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            padding: 0.8rem 3rem;
            border: none;
            background-color: $main;
            border-radius: 50px;
            transition: 0.2s ease;
            cursor: pointer;

            &:hover {
              transform: scale(0.9);
              box-shadow: 0 0 20px 0 $main;
            }
          }
        }
      }
      .hint {
        color: #000;
        background-color: $bg-color;
        width: 100%;
        text-align: center;
        padding: 1rem;
        margin-top: 1rem;

        p {
          font-size: 25px;
          font-weight: normal;
          font-family: "Italianno", cursive;
          word-break: break-all;
        }
      }
    }
  }
}

//survey

.addSurvey {
  width: 100%;
  background-color: $dark;
  padding: 2rem;
  color: $light;

  .addSurveyContainer {
    display: flex;
  }

  h1 {
    color: $main;
  }

  .surveyForm {
    max-width: 350px;
    margin: 1rem 0;

    h3 {
      width: 100%;
      background-color: lighten($dark, 10%);
      font-size: 1.5rem;
      padding: 1rem;
      text-align: center;
      margin: 2rem 0;
    }

    input {
      width: 100%;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      border: none;
      font-size: 0.9rem;
    }

    .inputContainer {
      display: flex;
      margin-bottom: 1rem;
      align-items: center;
      p {
        margin-right: 1rem;
      }
    }

    .answer {
      p {
        margin-bottom: 1rem;
      }
    }

    textarea {
      margin-bottom: 1rem;
      border: none;
      resize: none;
      width: 100%;
      height: 200px;
      padding: 1rem;
      font-size: 0.9rem;
      border-radius: 5px;
    }

    button {
      width: fit-content;
      padding: 0.5rem 1.5rem;
      border: none;
      border-radius: 5px;
      background-color: darken($main, 10%);
      color: $light;
      font-weight: bold;
      transition: 0.2s ease;
      cursor: pointer;

      &:hover {
        background-color: darken($main, 20%);
      }
    }
  }

  .demoContainer {
    margin-left: 5rem;
    max-width: 500px;
    width: 100%;
    h3 {
      width: 100%;
      background-color: lighten($dark, 10%);
      font-size: 1.5rem;
      padding: 1rem;
      text-align: center;
      margin: 3rem 0 2rem 0;
    }

    .demo {
      width: 100%;
      word-break: break-all;
      .quiz {
        margin: 2rem 0;
        transition: 0.3s ease;
      }
      .quizHolder {
        height: calc(100vh - 242px);
        overflow-y: auto;
        scroll-behavior: smooth;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .questionWrapper {
        display: flex;
        align-items: center;

        .number {
          margin-right: 1rem;
          width: fit-content;
          height: fit-content;
          padding: 1rem;
          background-color: $light-dark;
          border-radius: 50rem;
        }
      }

      .answerWrapper {
        margin-top: 2rem;
        .answer {
          display: flex;
          align-items: center;
          margin-top: 1rem;
          padding: 1rem;
          background-color: $bg-color;
          color: rgba(#000, 0.8);
          border-radius: 0.3rem;
          transition: 0.3s ease;
          cursor: pointer;

          p {
            max-width: 420px;
            word-wrap: break-word;
            pointer-events: none;
          }

          .circle {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 1rem;
            height: 15px;
            width: 15px;
            border: 1px solid black;
            pointer-events: none;
            border-radius: 50%;
          }

          .innerCircle {
            opacity: 0;
            height: 7px;
            width: 7px;
            border-radius: 50%;
            background-color: #000;
            transition: 0.2s ease;
          }

          &:hover .innerCircle {
            opacity: 1;
          }

          &:hover {
            color: rgba(#000, 1);
          }
        }
      }
    }
  }
}
.buttonWrapperForAnswer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin: 1rem 0;
}
.removeAnswers {
  max-width: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: darken($main, 10%);
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s ease;

  &:hover {
    background-color: darken($main, 20%);
  }
}

.addAnswers {
  max-width: 75%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: darken($main, 10%);
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease;
  text-align: center;
  padding: 0.5rem;

  span {
    font-weight: bold;
    font-size: 1.71rem;
  }

  &:hover {
    background-color: darken($main, 20%);
  }
}

.tableContainer {
  margin-top: 2rem;
  max-width: calc(100vw - (241px + 100px));
  width: 100%;
  overflow-x: auto;

  h1 {
    margin-bottom: 1rem;
  }

  table {
    min-width: 500px;
    width: 100%;
    background-color: $bg-color;

    thead {
      th {
        background-color: $light;
        padding: 0.8rem;
        background: $dark;
        color: $light;
        min-width: 100px;
        max-width: 200px;

        &:first-child {
          text-align: center;
          min-width: 100px;
          width: 100px;
        }
        &:last-child {
          min-width: 100px;
          width: 100px;
        }
      }
    }

    tbody {
      td {
        background-color: $light;
        padding: 1rem;
        min-width: 100px;
        max-width: 200px;

        &:first-child {
          text-align: center;
          min-width: 100px;
          width: 100px;
        }

        &:last-child {
          min-width: 100px;
          width: 100px;
        }
      }
    }

    .actionButton {
      min-width: 100px;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .edit {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $dark;
      width: fit-content;
      padding: 0.5rem;
      border-radius: 50%;
      margin-right: 0.5rem;
      cursor: pointer;
      transition: 0.2s ease;
      user-select: none;

      &:hover {
        box-shadow: 0 0 20px 0 rgba($dark, 0.8);
      }
    }

    .remove {
      display: flex;
      user-select: none;
      align-items: center;
      justify-content: center;
      background-color: red;
      width: fit-content;
      padding: 0.5rem;
      border-radius: 50%;
      transition: 0.2s ease;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 20px 0 rgba(red, 0.8);
      }
    }
  }

  .removePopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($dark, 0.8);
    display: flex;
    justify-content: center;
    display: none;

    .hide {
      height: 100vh;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 11;
    }

    .popup {
      margin: 0 1rem;
      max-width: 500px;
      width: 100%;
      margin-top: 5rem;
      position: relative;
      z-index: 12;
      height: fit-content;
      max-height: 500px;
      overflow-y: auto;

      .popupContent {
        background-color: $light;
        border-radius: 0 0 5px 5px;
        padding: 1rem;

        .inputs {
          > p {
            margin-bottom: 0.5rem;
            font-size: 1.1rem;
            font-weight: bold;
          }

          .actualInputs {
            background-color: darken($light, 5%);
            padding: 1rem;
            margin-bottom: 2rem;

            .inputHolder {
              margin-bottom: 0.5rem;

              &:last-child {
                margin-bottom: 0;
              }

              input {
                padding: 0.5rem;
                width: 50px;
              }

              h4 {
                margin-bottom: 1rem;
              }

              p {
                margin-bottom: 0.5rem;
              }
            }
          }

          textarea {
            padding: 0.5rem;
            font-size: 0.9rem;
            width: 100%;
            resize: none;
            height: 80px;
          }
        }

        .buttons {
          margin-top: 1rem;

          button {
            padding: 0.5rem 1.5rem;
            border-radius: 5px;
            border: none;
            cursor: pointer;

            &:last-child {
              background-color: transparent;
              border: 1px solid black;
              transition: 0.2s ease;

              &:hover {
                background-color: darken($light, 2%);
              }
            }

            &:first-child {
              margin-right: 1rem;
              background-color: darken($main, 10%);
              font-weight: bold;
              transition: 0.2s ease;
              color: $light;
              border: 1px solid darken($main, 10%);

              &:hover {
                background-color: darken($main, 20%);
                border: 1px solid darken($main, 20%);
              }
            }
          }
        }
      }

      .popupHeader {
        border-radius: 5px 5px 0 0;
        padding: 1rem;
        background-color: lighten($dark, 10%);
        color: $light;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .img {
          cursor: pointer;
          user-select: none;
        }
      }
    }
  }
}

.candidatesContainer {
  max-width: calc(100vw - (241px + 100px));
  width: 100%;
  overflow-x: auto;

  h1 {
    margin-bottom: 1rem;
  }

  table {
    min-width: 500px;
    width: 100%;
    background-color: $bg-color;

    thead {
      th {
        background-color: $light;
        padding: 0.8rem;
        background: $dark;
        color: $light;
        min-width: 100px;
        max-width: 200px;
        cursor: pointer;
        user-select: none;

        &:first-child {
          text-align: center;
          min-width: 100px;
          width: 100px;
        }
        &:last-child {
          min-width: 200px;
          width: 200px;
        }
      }
    }

    tbody {
      td {
        background-color: $light;
        padding: 1rem;
        min-width: 100px;
        max-width: 200px;
        text-align: center;

        &:first-child {
          min-width: 100px;
          width: 100px;
        }

        &:last-child {
          min-width: 200px;
          width: 200px;
        }
      }
    }

    .actionButton {
      min-width: 100px;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .edit {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $dark;
      width: fit-content;
      padding: 0.5rem;
      border-radius: 50%;
      margin-right: 0.5rem;
      cursor: pointer;
      transition: 0.2s ease;
      user-select: none;

      &:hover {
        box-shadow: 0 0 20px 0 rgba($dark, 0.8);
      }
    }

    .remove {
      display: flex;
      user-select: none;
      align-items: center;
      justify-content: center;
      background-color: red;
      width: fit-content;
      padding: 0.5rem;
      border-radius: 50%;
      transition: 0.2s ease;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 20px 0 rgba(red, 0.8);
      }
    }
  }

  .removePopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($dark, 0.8);
    display: flex;
    justify-content: center;
    display: none;

    .hide {
      height: 100vh;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 11;
    }

    .popup {
      margin: 0 1rem;
      max-width: 500px;
      width: 100%;
      margin-top: 5rem;
      position: relative;
      z-index: 12;
      height: fit-content;

      .popupContent {
        background-color: $light;
        border-radius: 0 0 5px 5px;
        padding: 1rem;
        .buttons {
          margin-top: 1rem;

          button {
            padding: 0.5rem 1.5rem;
            border-radius: 5px;
            border: none;
            cursor: pointer;

            &:first-child {
              margin-right: 1rem;
              background-color: darken($main, 10%);
              font-weight: bold;
              transition: 0.2s ease;
              color: $light;
              border: 1px solid darken($main, 10%);

              &:hover {
                background-color: darken($main, 20%);
                border: 1px solid darken($main, 20%);
              }
            }

            &:last-child {
              background-color: transparent;
              border: 1px solid black;
              transition: 0.2s ease;

              &:hover {
                background-color: darken($light, 2%);
              }
            }
          }
        }
      }

      .popupHeader {
        border-radius: 5px 5px 0 0;
        padding: 1rem;
        background-color: lighten($dark, 10%);
        color: $light;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .img {
          cursor: pointer;
          user-select: none;
        }
      }
    }
  }
}

@keyframes animateActive {
  0% {
    opacity: 1;
    padding: 0;
  }

  100% {
    opacity: 0;
    padding: 1.5rem;
  }
}

@media screen and (max-width: 1320px) {
  .addSurvey {
    .demoContainer {
      margin-left: 2rem;
      max-width: 400px;
    }
  }
}

@media screen and (max-width: 1150px) {
  .addSurvey {
    .addSurveyContainer {
      display: block;
    }

    .demoContainer {
      margin-left: 0;
      max-width: 350px;
    }
  }
}

@media screen and (max-width: 1190px) {
  .panelContainer {
    .changeDataContainer {
      display: block;

      .data {
        margin-left: 0rem;
        margin-top: 2rem;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    .info {
      width: 200px;
      border-radius: 1rem;
      padding: 1rem;
      margin-right: 2rem;

      p {
        margin-left: 1rem;
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .tableContainer,
  .candidatesContainer {
    h1 {
      margin: 1rem;
    }
    max-width: 100%;
  }
  .mobHeading {
    display: block;
  }

  .addSurvey {
    text-align: center;

    .surveyForm {
      margin: 1rem auto;
    }

    .demoContainer {
      margin: auto;
    }
  }

  .sideNav {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100vw;
    width: 0;
    z-index: 10;
    opacity: 0;
  }

  .hamburgerContainer {
    z-index: 11;
    display: flex;
  }

  .panelContainer {
    .content {
      margin: 7rem 1rem 1rem;
    }

    .changeDataContainer {
      .data {
        margin: auto;

        &:first-child {
          margin: 0 auto 2rem auto;
        }
      }
    }
  }
}

@media screen and (max-width: 535px) {
  .panelContainer {
    .content {
      margin: 7rem 0 0;
    }
  }

  .tableContainer {
    h1 {
      margin: 0 1rem 1rem 1rem;
    }
  }

  .panelContainer {
    .info {
      margin-left: 1rem;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .loginWrapper {
    padding: 0 1rem;
  }

  .loginContainer {
    padding: 2rem 1.5rem;
  }

  .panelContainer {
    .changeDataContainer {
      .inputContainer {
        display: block;
        margin-top: 1rem;
      }
    }
    .infoContainer {
      display: block;
    }

    .info {
      margin-top: 2rem;
      margin-right: 0;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .panelContainer {
    .changeDataContainer {
      padding: 2rem 1rem;
    }

    .content {
      margin-bottom: 0;
    }
  }
}
